#admin {
	width: 80%;
	height: 80%;
	min-width: 560px;
	margin: auto;
	position: absolute;
	top: 110px;
	left: 10%;
	background-color: rgba(79,79,79,0.93);
	border: 1px solid black;
	border-radius: 20px;
	overflow-x: hidden;
	overflow-y: hidden;
}

	#admin span {
		display: inline-block;
		border: 0;
		margin: 5px;
		font-size: 30px;
		font-weight: bold;
		background: none;
	}

	#admin span:hover {
		text-shadow: 2px 0px 20px #EBEBEB;
		cursor: pointer;
	}
	
	#admin #buttons {
		text-align: center;
		width: 100%;
		vertical-align: middle;
	}

	#admin h3 {
		text-align: center;
		margin: 0px;
		padding: 5px;
	}
	
	#admin table {
		width: 90%;
		margin-top: 15px;
		margin-left: auto;
		margin-right: auto;
	}

	#admin table td {
		text-align: center;
		padding: 5px;
	}

	#admin #buttonHolder{
		text-align: center;
	}

	#admin table textarea {
		width: 100%;
		height: 100px;
	}

	#about-form, #chapters-form, #contact-form, #backgrounds-form {
		height: 80%;
		overflow-y: auto;
	}

	#chapters-form, #contact-form, #backgrounds-form {
		display: none;
	}

	#buttonHolder {
		height: 10%;
	}

	#admin input:not(.bg-upload):not(#adminSubmit) {
		width: 100%;
		height: 46px;
	}

	#adminSubmit {
		width: 80%;
		height: 100%;
	}

	#admin input {
		border: 1px black solid;
		padding: 3px;
	}

	#admin a {
		text-decoration: none;
		color: inherit;
	}

	#admin a:hover {
		text-decoration: underline;
	}

	#admin a:visited {
		color: inherit;
	}