<!--
	Not sure which fields and data your template will be receiving?
	Check the GitHub wiki page!
	HTML Template for the entire admin modal
-->
<script id="template-modal" type="text/html">
	<div id="buttons">
		<span id="exit">Exit</span>
	</div>
	<div id="about-form">
		<table>
			<tr>
				<th>Text</th>
				<th>Mark for Deletion</th>
			</tr>
			{{#about}}{{#M}}{{#body}}
			<tr>
				<td>
					<textarea class="item" data-type="body">{{S}}</textarea>
				</td>
				<td>
					<input class="del" type="checkbox" />
				</td>
			</tr>
			{{/body}}{{/M}}{{/about}}
			<tr>
				<td>
					<a href="#" id ="addRow" data-fields="body">Click to insert new row</a>
				</td>
			</tr>
		</table>
	</div>
	<div id="chapters-form">
		<table>
			<tr>
				<th>School Name</th>
				<th>Year</th>
				<th>Mark For Deletion</th>
			</tr>
			{{#chapters}}{{#M}}
			<tr>
				<td>
					{{#school}}
					<input class="item" data-type="school" type="text" value="{{S}}" />
					{{/school}}
				</td>
				<td>
					{{#year}}
					<input class="item" data-type="year" type="text" value="{{S}}" />
					{{/year}}
				</td>
				<td>
					<input class="del" type="checkbox"/>
				</td>
			</tr>
			{{/M}}{{/chapters}}
			<tr>
				<td>
					<a href="#" id ="addRow" data-fields="school year">Click to insert new row</a>
				</td>
			</tr>
		</table>
	</div>
	<div id="contact-form">
		<table>
			<tr>
				<th>Field Name</th>
				<th>Field Value</th>
				<th>Mark For Deletion</th>
			</tr>
			{{#contact}}{{#M}}
			<tr>
				<td>
					{{#fieldname}}
					<input class="item" data-type="fieldname" type="text" value="{{S}}"/>
					{{/fieldname}}
				</td>
				<td>
					{{#fieldvalue}}
					<input class="item" data-type="fieldvalue" type="text" value="{{S}}"/>
					{{/fieldvalue}}
				</td>
				<td>
					<input class="del" type="checkbox"/>
				</td>
			</tr>
			{{/M}}{{/contact}}
			<tr>
				<td>
					<a href="#" id ="addRow" data-fields="fieldname fieldvalue">Click to insert new row</a>
				</td>
			</tr>
		</table>
	</div>
	<div id="backgrounds-form">
		<table>
			<tr>
				<th>Preview</th>
				<th>Mark for Deletion</th>
			</tr>
			{{#backgrounds}}{{#M}}
			<tr>
				<td>
					{{#filename}}
					<img src="graphics/{{S}}" height="200px" />
					{{/filename}}
				</td>
				<td>
					<input type="checkbox"/>
				</td>
			</tr>
			{{/M}}{{/backgrounds}}
			<tr>
				<td>
					temp upload button
				</td>
			</tr>
		</table>
	</div>
	<div id="buttonHolder">
		<input id="adminSubmit" type="submit" value="Submit all changes" />
	</div>
</script>
