<!--
	Not sure which fields and data your template will be receiving?
	Check the GitHub wiki page!
	HTML Template for the entire admin modal
-->
<script id="template-modal" type="text/html">
	<h2 id="adminIntro">Admin Panel</h2>
	<div id="buttons">
		<button id="exit">Exit</button>
		<button id="about">About</button>
		<button id="chapters">Chapters</button>
		<button id="contact">Contact</button>
		<button id="background">Background</button>
	</div>
	<div id="whiteBars">
		<div id="exitBar"></div>
		<div id="aboutBar"></div>
		<div id="chaptersBar"></div>
		<div id="contactBar"></div>
		<div id="backgroundBar"></div>
	</div>
	<div id="adminContent">
		<div>
			<h1>Click on a tab to edit its content</h1>
		</div>
	</div>
	<div id="about-form">
		<h3>Editing the About Page</h3>
		<table>
			<tr>
				<th>Text</th>
				<th>Index</th>
				<th>Mark for Deletion</th>
			</tr>
			{{#about}}{{#M}}{{#body}}
			<tr>
				<td>
					<textarea class="item" data-type="body">{{S}}</textarea>
				</td>
				<td>
					<select>
						 <option value="1">1</option>
						 <option value="2">2</option>
						 <option value="3">3</option>
					</select>
				</td>
				<td>
					<input class="del" type="checkbox" />
				</td>
			</tr>
			{{/body}}{{/M}}{{/about}}
			<tr>
				<td colspan="3">
					<input type="submit" value="Add Row" />
				</td>
			<tr>
		</table>
	</div>
	<div id="chapters-form">
		<h3>Editing the Chapters Page</h3>
		<table>
			<tr>
				<th>School Name</th>
				<th>Year</th>
				<th>Index</th>
				<th>Mark For Deletion</th>
			</tr>
			{{#chapters}}{{#M}}
			<tr>
				<td>
					{{#school}}
					<input class="item" data-type="school" type="text" value="{{S}}" />
					{{/school}}
				</td>
				<td>
					{{#year}}
					<input class="item" data-type="year" type="text" value="{{S}}" />
					{{/year}}
				</td>
				<td>
					<select>
						 <option value="1">1</option>
						 <option value="2">2</option>
						 <option value="3">3</option>
					</select>
				</td>
				<td>
					<input class="del" type="checkbox"/>
				</td>
			</tr>
			{{/M}}{{/chapters}}
			<tr>
				<td colspan="4">
					<input type="submit" value="Add Row" />
				</td>
			<tr>
		</table>
	</div>
	<div id="contact-form">
		<h3>Editing the Contact Page</h3>
		<table>
			<tr>
				<th>Field Name</th>
				<th>Field Value</th>
				<th>Index</th>
				<th>Mark For Deletion</th>
			</tr>
			{{#contact}}{{#M}}
			<tr>
				<td>
					{{#fieldname}}
					<input class="item" data-type="fieldname" type="text" value="{{S}}"/>
					{{/fieldname}}
				</td>
				<td>
					{{#fieldvalue}}
					<input class="item" data-type="fieldvalue" type="text" value="{{S}}"/>
					{{/fieldvalue}}
				</td>
				<td>
					<select>
						 <option value="1">1</option>
						 <option value="2">2</option>
						 <option value="3">3</option>
					</select>
				</td>
				<td>
					<input class="del" type="checkbox"/>
				</td>
			</tr>
			{{/M}}{{/contact}}
			<tr>
				<td colspan="4">
					<input type="submit" value="Add Row" />
				</td>
			<tr>
		</table>
	</div>
	<div id="background-form">
		<h3>Editing the Background Page</h3>
		<table>
			<tr>
				<th>Preview</th>
				<th>Extension</th>
				<th>Index</th>
				<th>Mark for Deletion</th>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="text" />
				</td>
				<td>
					<select>
						 <option value="1">1</option>
						 <option value="2">2</option>
						 <option value="3">3</option>
					</select>
				</td>
				<td>
					<input type="checkbox"/>
				</td>
			</tr>
			<tr>
				<a href="uploadFile.html" id="uploadImage">Upload Image</a>
			</tr>
		</table>
	</div>
	<div id="buttonHolder">
		<input id="adminSubmit" type="submit" value="Submit" />
	</div>
</script>
