<!--
	Not sure which fields and data your template will be receiving?
	Check the GitHub wiki page!
-->

<script id="template-about" type="text/html">
	<div class="paragraphs">
		{{#data}}{{#M}}{{#body}}
			<p>{{S}}</p>
		{{/body}}{{/M}}{{/data}}

		{{#error}}
			<p>{{error}}</p>
		{{/error}}
	</div>
</script>

<script id="template-chapters" type="text/html">
	<table id="content-chapters">
		{{#data}}
		{{#M}}
			<tr>
				<td>{{#school}}{{S}}{{/school}}</td>
				<td>founded {{#year}}{{S}}{{/year}}</td>
			</tr>
		{{/M}}
		{{/data}}

		{{#error}}
			<tr>
				<td>{{error}}</td>
			</tr>
		{{/error}}
	</table>
</script>

<script id="template-contact" type="text/html">
	<table id="content-contact">
		{{#data}}
		{{#M}}
		<tr>
			<td>{{#fieldname}}{{S}}{{/fieldname}}</td>
			<td>{{#fieldvalue}}{{S}}{{/fieldvalue}}</td>
		</tr>
		{{/M}}
		{{/data}}

	{{#error}}
		<tr>
			<td>{{error}}</td>
		</tr>
	{{/error}}
	</table>
</script>