<script id="template-about" type="text/html">
	<h3>About Be The People</h3>
	{{#data}}
		<p>{{body}}</p>
	{{/data}}
	{{#error}}
		<p>{{error}}</p>
	{{/error}}
</script>

<script id="template-chapters" type="text/html">
	<h3>Be The People Chapters</h3>
	<p>Here are the current chapters: </p>
	<ul>
	{{#data}}
		<li>{{school}}: started at {{year}}</li>
	{{/data}}
	{{#error}}
		<li>{{error}}</li>
	{{/error}}
	</ul>
</script>

<!--m0ine-->
<script id="template-contact" type="text/html">
	<h3>Contact Be The People</h3>
	<table>
	{{#data}}
		<tr>
			<td>{{field}}</td>
			<td>{{value}}
		</td>
	{{/data}}
	{{#error}}
		<tr>
			<td>{{error}}</td>
		</tr>
	{{/error}}
	</table>
</script>